<script type='text/javascript'></script>

<% content_for :title do %>HADashboard<% end %>

<div class="gridster" id="main">
  <ul>
    <!-- Row 1 -->
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock" data-title="Synergy" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id="weather" data-view="Stweather"></div>
    </li>

    <!-- Row 2 -->
	<li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="mode" data-view="Stmode" data-title="Current Mode"></div>
    </li>
	
	<!-- Navigation -->
    <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpage1-1" data-view="ChangePage" data-icon="home" data-title="Home" data-stagger="false" data-fasttransition="true" data-event-click="onClick" data-page="main"></div>
    </li>
	<li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpage1-2" data-view="ChangePage" data-icon="dashcube" data-title="Basement" data-stagger="false" data-fasttransition="true" data-event-click="onClick" data-page="basement"></div>
    </li> 
	<li data-row="3" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpage1-3" data-view="ChangePage" data-icon="dashcube" data-title="Outside" data-stagger="false" data-fasttransition="true" data-event-click="onClick" data-page="outside"></div>
    </li>		
	<!-- Reload -->
	<li data-row="4" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>      	  	  		 	
  </ul>
</div>

<div class="gridster" id="basement">
  <ul>
    <!-- Row 1 -->
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock2" data-view="Clock" data-title="Synergy" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id="downstairs lights" data-view="Stswitch" data-icon="lightbulb-o" data-title="Downstairs" data-device="Downstairs Lights"></div>
    </li>

    <li data-row="1" data-col="5" data-sizex="2" data-sizey="2">
      <div data-id="bar lights" data-view="Stswitch" data-icon="lightbulb-o" data-title="Bar" data-device="Bar Lights"></div>
    </li>

    <!-- Row 2 -->
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="mode2" data-view="Stmode" data-title="Current Mode"></div>
    </li>
	
    <!-- Row 3 -->
    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="basement lights" data-view="Stdimmer" data-icon="lightbulb-o" data-title="Basement" data-device="Basement Lights"></div>
    </li>
	
    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="downstairs fireplace lights" data-view="Stdimmer" data-icon="lightbulb-o" data-title="Fireplace" data-device="Basement Fireplace Lights"></div>
    </li>
	  
    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="lights over bar" data-view="Stdimmer" data-icon="lightbulb-o" data-title="Over Bar" data-device="Lights Over Bar"></div>
    </li>
	
    <li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="lights behind bar" data-view="Stdimmer" data-icon="lightbulb-o" data-title="Behind Bar" data-device="Lights Behind Bar"></div>
    </li>
	  
    <!-- Navigation -->
    <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpage2-1" data-view="ChangePage" data-icon="home" data-title="Home" data-stagger="false" data-fasttransition="true" data-event-click="onClick" data-page="main"></div>
    </li>
	<li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpage2-2" data-view="ChangePage" data-icon="dashcube" data-title="Basement" data-stagger="false" data-fasttransition="true" data-event-click="onClick" data-page="basement"></div>
    </li> 
	<li data-row="3" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpage2-3" data-view="ChangePage" data-icon="dashcube" data-title="Outside" data-stagger="false" data-fasttransition="true" data-event-click="onClick" data-page="outside"></div>
    </li>	
	<!-- Reload -->
	<li data-row="4" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>    
  </ul>
</div>

<div class="gridster" id="outside">
  <ul>
	
    <!-- Navigation -->
    <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpage3-1" data-view="ChangePage" data-icon="home" data-title="Home" data-stagger="false" data-fasttransition="true" data-event-click="onClick" data-page="main"></div>
    </li>
	<li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpage3-2" data-view="ChangePage" data-icon="dashcube" data-title="Basement" data-stagger="false" data-fasttransition="true" data-event-click="onClick" data-page="basement"></div>
    </li> 
	<li data-row="3" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpage3-3" data-view="ChangePage" data-icon="dashcube" data-title="Outside" data-stagger="false" data-fasttransition="true" data-event-click="onClick" data-page="outside"></div>
    </li>  	
	<!-- Reload -->
	<li data-row="4" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>    
  </ul>
</div>
