<script type='text/javascript'></script>

<% content_for :title do %>HADashboard<% end %>

<div class="gridster" id="main">
  <ul>
    <!-- Row 1 -->
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock" data-title="Synergy" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id="weather" data-view="Stweather"></div>
    </li>

    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="firelights" data-view="Stdimmer" data-icon="lightbulb-o" data-title="Fireplace" data-device="Fireplace Lights"></div>
    </li>
	
	<li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="livingroomlight" data-view="Stswitch" data-icon="lightbulb-o" data-title="Living Room" data-device="Living Room Light"></div>
    </li>    
    
    <!-- Row 2 -->
	<li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="mode" data-view="Stmode" data-title="Current Mode"></div>
    </li>

    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="eltemp" data-view="Sttemp" data-title="Eleni's Bedroom" data-device="Eleni Bedroom"></div>
    </li>
    
    <li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="zoetemp" data-view="Sttemp" data-title="Zoe's Bedroom" data-device="Zoe Bedroom"></div>
    </li>	

    <!-- Row 3 -->
    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="occmode" data-view="Stmodechange" data-title="Set Home" data-icon="home" data-changemode="Home" data-phrase="I'm Back!" data-countdown="5"></div>
    </li>
	
	<li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="unoccmode" data-view="Stmodechange" data-title="Set Away" data-icon="road" data-changemode="Away" data-phrase="Goodbye!" data-countdown="5"></div>
    </li>
    
	<li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="guest" data-view="Stmodechange" data-title="Set Guest" data-icon="user" data-changemode="Guest" data-phrase="Turn On Guest Mode" data-countdown="5"></div>
    </li>
	
	<li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="wholehousepower" data-view="Stmeter" data-title="Whole Home" data-device="Neurio" data-min="0" data-max="4000" data-suffix="W"></div>
    </li>
	
    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="mbrtemp" data-view="Sttemp" data-title="Master Bedroom" data-device="Master Bedroom"></div>
    </li>
    
    <li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="mbrtemp" data-view="Sttemp" data-title="Office" data-device="Office"></div>
    </li>
    
    <!-- Row 4 -->
    <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="apresence" data-view="Stpresence" data-icon="female" data-title="Alexis" data-device="Alexis"></div>
    </li>
	
	<li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="bpresence" data-view="Stpresence" data-icon="male" data-title="Brandon" data-device="Brandon"></div>
    </li>
    
    <li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="garagedoor" data-view="Stgarage" data-icon="car" data-title="Garage Door" data-device="Garage Door"></div>
    </li>
	
    <li data-row="4" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="attemp" data-view="Sttemp" data-title="Attic" data-device="Attic"></div>
    </li>
	
    <li data-row="4" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="fmtemp" data-view="Sttemp" data-title="Family Room" data-device="Family Room"></div>
    </li>
    
    <li data-row="4" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="lrtemp" data-view="Sttemp" data-title="Living Room" data-device="Thermostat"></div>
    </li>     
	
	<!-- Navigation -->
    <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpage1-1" data-view="ChangePage" data-icon="home" data-title="Home" data-stagger="false" data-fasttransition="true" data-event-click="onClick" data-page="main"></div>
    </li>
	<li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpage1-2" data-view="ChangePage" data-icon="dashcube" data-title="Basement" data-stagger="false" data-fasttransition="true" data-event-click="onClick" data-page="basement"></div>
    </li> 
	<li data-row="3" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpage1-3" data-view="ChangePage" data-icon="dashcube" data-title="Outside" data-stagger="false" data-fasttransition="true" data-event-click="onClick" data-page="outside"></div>
    </li>		
	<!-- Reload -->
	<li data-row="4" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>      	  	  		 	
  </ul>
</div>

<div class="gridster" id="basement">
  <ul>
    <!-- Devices -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="basementstairs" data-view="Stswitch" data-icon="lightbulb-o" data-title="Basement Stairs" data-device="Basement Stairs Lights"></div>
    </li>
	
	<li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="heaterpower" data-view="Stmeter" data-title="Heater" data-device="Basement Heater Metering Switch" data-min="0" data-max="1000" data-suffix="W"></div>
    </li>	
    
	<li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="basementlights1" data-view="Stswitch" data-icon="lightbulb-o" data-title="Basement Lights Set 1" data-device="Basement Lights Set #1"></div>
    </li>
    
	<li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="basementlights2" data-view="Stswitch" data-icon="lightbulb-o" data-title="Basement Lights Set 2" data-device="Basement Lights Set #2"></div>
    </li>
    
	<li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="basementlights3" data-view="Stswitch" data-icon="lightbulb-o" data-title="Basement Lights Set 3" data-device="Basement Lights Set #3"></div>
    </li>
	
	<li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="washerpower" data-view="Stmeter" data-title="Washer" data-device="Washer Metering Switch" data-min="0" data-max="1000" data-suffix="W"></div>
    </li>
	
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="dryerpower" data-view="Stmeter" data-title="Dryer" data-device="Dryer Metering Switch" data-min="0" data-max="1000" data-suffix="W"></div>
    </li>
    <!-- Navigation -->
    <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpage2-1" data-view="ChangePage" data-icon="home" data-title="Home" data-stagger="false" data-fasttransition="true" data-event-click="onClick" data-page="main"></div>
    </li>
	<li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpage2-2" data-view="ChangePage" data-icon="dashcube" data-title="Basement" data-stagger="false" data-fasttransition="true" data-event-click="onClick" data-page="basement"></div>
    </li> 
	<li data-row="3" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpage2-3" data-view="ChangePage" data-icon="dashcube" data-title="Outside" data-stagger="false" data-fasttransition="true" data-event-click="onClick" data-page="outside"></div>
    </li>	
	<!-- Reload -->
	<li data-row="4" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>    
  </ul>
</div>

<div class="gridster" id="outside">
  <ul>
	<!-- Devices -->
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="garagelights" data-view="Stswitch" data-icon="lightbulb-o" data-title="Garage" data-device="Garage Lights"></div>
    </li>
	<li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="porchlights" data-view="Stswitch" data-icon="lightbulb-o" data-title="Porch" data-device="Porch Lights"></div>
    </li>
	<li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="patiolight" data-view="Stswitch" data-icon="lightbulb-o" data-title="Patio" data-device="Patio Light"></div>
    </li>
	 
	<li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="porchoutlet" data-view="Stswitch" data-icon="tree" data-title="Porch Outlet" data-device="Porch Outlet"></div>
    </li>
	<li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="patiooutlet" data-view="Stswitch" data-icon="tree" data-title="Patio Outlet" data-device="Patio Outlet"></div>
    </li>
	
	<li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="porchoutletm" data-view="Stmeter" data-icon="tree" data-title="Porch Outlet" data-device="Porch Outlet" data-min="0" data-max="1000" data-suffix="W"></div>
    </li>
	<li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="patiooutletm" data-view="Stmeter" data-icon="tree" data-title="Patio Outlet" data-device="Patio Outlet" data-min="0" data-max="1000" data-suffix="W"></div>
    </li>
	
    <!-- Navigation -->
    <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpage3-1" data-view="ChangePage" data-icon="home" data-title="Home" data-stagger="false" data-fasttransition="true" data-event-click="onClick" data-page="main"></div>
    </li>
	<li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpage3-2" data-view="ChangePage" data-icon="dashcube" data-title="Basement" data-stagger="false" data-fasttransition="true" data-event-click="onClick" data-page="basement"></div>
    </li> 
	<li data-row="3" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpage3-3" data-view="ChangePage" data-icon="dashcube" data-title="Outside" data-stagger="false" data-fasttransition="true" data-event-click="onClick" data-page="outside"></div>
    </li>  	
	<!-- Reload -->
	<li data-row="4" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>    
  </ul>
</div>